.home_header {
	background: #3b3bcac7;
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
}

.home_link_container {
	max-width: 95%;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.home_link {
	font-size: 1.5rem;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.home_section {
	position: relative;
	width: 100%;
	height: 30rem;
}

.home_section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.384);
}

.home_image {
	position: absolute;
	object-fit: cover;
}

.home_hero_text_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.home_hero_text_header {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
}
.home_hero_text_paragraph {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color: #fff;
}

.home_main {
	padding: 4rem 0;
	width: 100%;
	background: rgb(230, 230, 230);
}
.home_main_container {
	max-width: 95%;
	width: 1200px;
	min-height: 20rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.home_main_image_container {
	border: 2px solid rgb(77, 77, 77);
	position: relative;
	max-width: 30rem;
	width: 50%;
}
.home_main_image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.home_main_text_container {
	padding: 0 1rem;
	max-width: 30rem;
	width: 50%;
}

.home_footer {
	padding: 3rem 0 2rem;
	width: 100%;
	background: rgb(230, 230, 230);
}
.home_footer_container {
	margin: 0 auto;
	max-width: 95%;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.home_footer_text {
	font-size: 1.5rem;
	margin: 0;
}
.home_footer_contact_section {
	max-width: 60%;
	width: 30rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.home_footer_social_container {
	max-width: 30%;
}
